@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme("fontFamily.sans");
    box-sizing: border-box;
  }

  .background {
    background: linear-gradient(#e66465, #9198e5);
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
  }
}

@layer components {
  .fine-scrollbar::-webkit-scrollbar {
    width: 7px;
  }

  .fine-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  .fine-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    width: 5px;
    border-radius: 10px;
    margin-top: 5px;
  }

  /* Handle on hover */
  .fine-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .header {
    font-size: 7rem;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align: center;
  }

  .card {
    background-color: theme("colors.component.background");
    color: theme("colors.component.text");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.4");
    margin: theme("spacing.4");
    box-shadow: theme("boxShadow.xl");
  }

  .card .card-title {
    font-size: 20px;
  }

  .card .card-body {
    margin-bottom: theme("spacing.4");
  }

  .card .card-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: theme("spacing.2");
    margin-left: -4px;
    margin-right: -4px;
  }

  .card .card-actions {
    display: flex;
    justify-content: center;
  }

  .date-field {
    background-color: theme("colors.input.background");
    color: theme("colors.component.text");
    border-radius: theme("borderRadius.DEFAULT");
    padding: theme("spacing.1");
  }

  .text-field {
    background-color: theme("colors.input.background");
    color: theme("colors.component.text");
    border-radius: theme("borderRadius.DEFAULT");
    padding: theme("spacing.1");
  }

  .data-table {
    border-collapse: collapse;
    min-width: 10rem;
  }

  .select-field-button {
    background-color: theme("colors.input.background");
    color: theme("colors.component.text");
    border-radius: theme("borderRadius.DEFAULT");
    padding: theme("spacing.1");
  }

  .select-field-button:focus {
    outline: 1px solid white;
  }

  .select-field-list {
    background-color: theme("colors.input.background");
  }

  .data-table td {
    border: 2px solid theme("colors.component.background");
    background-color: theme("colors.input.background");
    padding: theme("spacing.2");
  }

  .btn {
    background: linear-gradient(90deg, #6fa4b3, #838bd1);
    color: theme("colors.component.text");
    border-radius: theme("borderRadius.DEFAULT");
    padding: theme("spacing.2");
    margin-left: theme("spacing.2");
    margin-right: theme("spacing.2");
  }

  .btn {
    background-image: linear-gradient(to right, #6fa4b3 0%, #838bd1 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
  }

  .btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .btn-emoji {
    text-align: center;
    padding: 4px;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 50%;
  }

  .btn-emoji:hover {
    background-color: theme("colors.component.active");
  }

  .link {
    color: theme("colors.link");
  }
}

@layer utilities {
  .flex-1-1-1 {
    flex: 1 1 1px;
  }

  .max-h-500 {
    max-height: 40rem;
  }
}
